
.footer {
    height: 10rem;
    background: #292727;
    margin-top: 20px;
  }

  @media screen and ( max-width : '430px') {
    

    // .footer {
    //   position: absolute;
    //   bottom: 0px;
    //   left: 0px;
    //   right: 0px;

    //   height: 13rem;
    //   background: #292727;
    //   margin-bottom: 0px;
    // }
  }